<body style="overflow: visible;">
<h1>
	<%= link_to "index1", "/index1" %><br>
</h1>
<h1>
	<%= link_to "index2", "/index2" %><br>
</h1>
<h1>
	<%= link_to "index3", "/index3" %><br>
</h1>
<h1>
	<%= link_to "index4", "/index4" %><br>
</h1>
<h1>
	<%= link_to "index5", "/index5" %><br>
</h1>
<h1>
	<%= link_to "index6", "/index6" %><br>
</h1>
<h1>
	<%= link_to "index7", "/index7" %><br>
</h1>
</body>